{% assign werk_sorted = site.werk | where_exp: "item", "item.url != page.url" | sort: "date" | reverse %}
{% assign limited = include.limit_items | default: 4 %}
{% assign category = page.category | join: '' %}
{% assign title = include.title | join: 'Fier op ons werk.' %}


<section id="section-latest">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h2>Fier op ons werk.</h2>
      </div>
    </div>
    <div class="row">
      {% for werk in werk_sorted limit: limited %}
        {% if category == '' or werk.categories contains category %}
          <div class="col-xs-12 col-md-6 col-lg-3 mt-5">
            <div class="card rounded-lg shadow-sm">
              <a href="{{werk.url}}" class="card-link"><img class="card-img-top" src="{{site.url}}/{{werk.img_thumb}}" alt="{{werk.title}}" loading="lazy"></a>
              <div class="card-body">
                <a href="{{werk.url}}" class="card-link"><h3 class="card-title">{{werk.header}}</h3></a>
                <p class="card-text">{{werk.description}}</p>
                <div><i class="fa-solid fa-location-dot"></i><span class="werk-meta"> {{werk.location}}</span></div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row mt-4">
      <div class="col-md-12 text-right">
        <a href="{{site.url}}/werk" class="btn btn-primary btn-green btn-sm" role="button" aria-pressed="true">Ontdek meer realisaties</a>
      </div>
    </div>
  </div>
</section>