---
layout: single-page
image: assets/img/social_schrijnwerkerijtobback.png
---
{% include breadcrumbs.liquid %}

<section class="mb-5">
  <div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-sm-12 col-md-4 mb-5">
            <h2>{{page.header}}</h2>
            <div><i class="fas fa-quote-left fa-2x"></i></div>
            <p>{{content}}</p>
            <div><i class="fas fa-quote-right fa-2x mb-5"></i></div>
            <div><span class="badge badge-pill badge-success"><i class="fa-solid fa-location-dot fa-white"></i> {{page.location}}</span></div>
            {% for cat in page.categories %}
                <div><span class="badge badge-pill badge-info"><i class="fa-solid fa-tag fa-white"></i> {{cat}}</span></div>
            {% endfor %}
        </div>              
        <div class="col-sm-12 col-md-7">
          <div class="watermarked">
            {% include figure.liquid path=page.img sizes="(min-width: 440px) 156px" alt=page.title %}
          </div>
        </div>
      </div>
  </div>
</section>


{% include cta-banner.liquid %}

<section id="section-related-artikels" class="fade-in-up">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h2>Tips &amp; advies</h2>
      </div>
    </div>
    <div class="row">
      {% assign artikels = site.artikels | sort: "date_created" | reverse %}
      {% for artikel in artikels limit: 3 %}
        <div class="col-md-4 mb-3">
          <h3><a href="{{ artikel.url | relative_url }}">{{ artikel.header }}</a></h3>
          <p>{{ artikel.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include latest_werk.liquid limit_items="4"%}